aws_region = "us-east-1"
aws_instance_ami = "ami-011b3ccf1bd6db744"
aws_instance_type = "m5.large"
namespace = ""
ssh_key_name = ""
vpc_id = ""
subnet_ids = "" # in format "subnet-1,subnet-2" (no space)
security_group_id = ""
ssl_certificate_arn = ""
owner = ""
ttl = ""
source_bucket_name = ""
ptfe_license = ""
linux = "rhel"
ptfe_admin_password = ""
hostname = ""
enc_password = ""
extra_no_proxy = ""
pg_dbname = ""
pg_extra_params = ""
pg_password = ""
pg_user = ""
s3_bucket = ""
s3_region = "us-east-1"
s3_sse_kms_key_id = ""
operational_mode = "airgapped"
airgap_bundle = "Terraform-Enterprise-346.airgap"
replicated_bootstrapper = "replicated.tar.gz"
docker_package = "docker-ce-18.09.2-3.el7.x86_64.rpm"
docker_cli_package = "docker-ce-cli-18.09.2-3.el7.x86_64.rpm"
containerd_package = "containerd.io-1.2.2-3.3.el7.x86_64.rpm"
libltdl7_package = "libtool-ltdl-2.4.2-22.el7_3.x86_64.rpm"
container_selinux_package = "container-selinux-2.9-4.el7.noarch.rpm"
create_first_user_and_org = "true"
initial_admin_username = ""
initial_admin_email = ""
initial_admin_password = ""
initial_org_name = ""
initial_org_email = ""
