aws_region = "us-east-1"
aws_instance_ami = "ami-759bc50a"
aws_instance_type = "m5.large"
namespace = ""
ssh_key_name = ""
vpc_id = ""
subnet_ids = ""
security_group_id = ""
ssl_certificate_arn = ""
owner = ""
ttl = ""
source_bucket_name = ""
ptfe_license = ""
ptfe_admin_password = ""
hostname = ""
enc_password = ""
pg_password = ""
s3_bucket = ""
s3_region = "us-east-1"
s3_sse_kms_key_id = ""
