aws_region = "us-east-1"
#aws_instance_ami = "ami-6871a115" # for RHEL
aws_instance_ami = "ami-759bc50a"  # for Ubuntu
aws_instance_type = "m5.large"
namespace = ""
ssh_key_name = ""
vpc_id = ""
subnet_ids = ""
security_group_id = ""
ssl_certificate_arn = ""
owner = ""
ttl = ""
source_bucket_name = ""
ptfe_license = ""
linux = ""
ptfe_admin_password = ""
hostname = ""
enc_password = ""
extra_no_proxy = ""
pg_dbname = ""
pg_extra_params = ""
pg_password = ""
pg_user = ""
s3_bucket = ""
s3_region = "us-east-1"
s3_sse_kms_key_id = ""
airgapped = "false"
airgap_bundle = ""
replicated_bootstrapper = ""
create_first_user_and_org = "true"
initial_admin_username = ""
initial_admin_email = ""
initial_admin_password = ""
initial_org_name = ""
initial_org_email = ""
