aws_region = "us-east-1"
aws_instance_ami = "ami-0565af6e282977273"
# Use m5.large for POCs
# Use m5.large, m5.xlarge or m5.2xlarge for production
aws_instance_type = "m5.large"
# Use 10 for demo, 20 for POC, 50 for Production
database_storage = "10"
# Use db.t2.medium for demo, db.m4.large for POC
# Use db.m4.large, db.m4.xlarge or db.m4.2xlarge for production
database_instance_class = "db.t2.medium"
# Use "false" for demo, "true" for POC and Production
database_multi_az = "false"
# Set to 1 if you want a second PTFE instance, else 0
create_second_instance = "0"
namespace = ""
ssh_key_name = ""
vpc_id = ""
subnet_ids = "" # in format "subnet-1,subnet-2" (no space)
security_group_id = ""
ssl_certificate_arn = ""
owner = ""
ttl = ""
source_bucket_name = ""
ptfe_license = ""
linux = "ubuntu"
ptfe_admin_password = ""
hostname = ""
enc_password = ""
extra_no_proxy = ""
pg_dbname = ""
pg_extra_params = ""
pg_password = ""
pg_user = ""
s3_bucket = ""
s3_region = "us-east-1"
s3_sse_kms_key_id = ""
operational_mode = "airgapped"
airgap_bundle = "Terraform-Enterprise-350.airgap"
replicated_bootstrapper = "replicated.tar.gz"
docker_package = "docker-ce_18.09.2_3-0_ubuntu-xenial_amd64.deb"
docker_cli_package = "docker-ce-cli_18.09.2_3-0_ubuntu-xenial_amd64.deb"
containerd_package = "containerd.io_1.2.2-3_amd64.deb"
libltdl7_package = "libltdl7_2.4.6-2_amd64.deb"
container_selinux_package = "" # leave blank for Ubuntu
create_first_user_and_org = "true"
initial_admin_username = ""
initial_admin_email = ""
initial_admin_password = ""
initial_org_name = ""
initial_org_email = ""
