aws_region = "us-east-1"
# Use ami-0565af6e282977273 for online
# Use ami-02941105c56601b38 for airgapped
aws_instance_ami = "ami-02941105c56601b38"
# Use m5.large for POCs
# Use m5.large, m5.xlarge or m5.2xlarge for production
aws_instance_type = "m5.large"
public_ip = "false"
alb_internal= "true"
route53_zone = ""
# Use 10 for demo, 20 for POC, 50 for Production
database_storage = "10"
# Use db.t2.medium for demo, db.m4.large for POC
# Use db.m4.large, db.m4.xlarge or db.m4.2xlarge for production
database_instance_class = "db.t2.medium"
# Use "false" for demo, "true" for POC and Production
database_multi_az = "false"
# Set to 1 if you want a second PTFE instance, else 0
create_second_instance = "0"
namespace = ""
ssh_key_name = ""
vpc_id = ""
ptfe_subnet_ids = "" # in format "subnet-1,subnet-2" (no space)
db_subnet_ids = "" # in format "subnet-1,subnet-2" (no space)
alb_subnet_ids = "" # in format "subnet-1,subnet-2" (no space)
security_group_id = ""
ssl_certificate_arn = ""
owner = ""
ttl = ""
source_bucket_name = ""
ptfe_license = ""
linux = "ubuntu"
ptfe_admin_password = ""
hostname = ""
enc_password = ""
extra_no_proxy = ""
pg_dbname = ""
pg_extra_params = ""
pg_password = ""
pg_user = ""
s3_bucket = ""
s3_region = "us-east-1"
s3_sse_kms_key_id = ""
operational_mode = "airgapped"
airgap_bundle = "Terraform-Enterprise-350.airgap"
replicated_bootstrapper = "replicated.tar.gz"
create_first_user_and_org = "true"
initial_admin_username = ""
initial_admin_email = ""
initial_admin_password = ""
initial_org_name = ""
initial_org_email = ""
